.main-reservas{
    background-color: white;

        section.reservas{
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            
                .titulo-reservas{   
                    font-size: 2.5rem;  
                    width:70%;
                    text-align: center;
                    margin-top:30px;
                    margin-bottom:150px;
                    color: rgb(192, 38, 0);}

                div.container{
                    width:100%;
                    align-self: center;
                    margin:-50px 0px 60px 80px;
                    
                }
    }        
} 



